beautifulsoup4==4.12.1
charset-normalizer==3.1.0
contourpy==1.0.7
cycler==0.11.0
filelock==3.10.7
fonttools==4.39.3
gdown==4.7.1
idna==3.4
importlib-resources==5.12.0
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
littleutils==0.2.2
MarkupSafe==2.1.2
matplotlib==3.7.1
mkl-fft==1.3.1
mkl-service==2.4.0
mock 
networkx==3.1
numexpr 
numpy==1.24.2
ogb==1.3.5
outdated==0.2.2
pandas==2.0.0
Pillow==9.5.0
psutil==5.9.4
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3
requests==2.28.2
scikit-learn==1.2.2
scipy==1.10.1
six 
soupsieve==2.4
tables 
threadpoolctl==3.1.0
torch==1.12.1+cu113
torch-cluster 
torch-geometric==2.3.0
torch-scatter 
torch-sparse 
torchaudio==0.12.1+cu113
torchvision==0.13.1+cu113
tqdm==4.65.0
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.15
zipp==3.15.0
